/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 11, 2016, 1:44:57 PM
    Author     : Masanari
*/
body{
    background: white !important;
}
.title {
    margin: 30px;
}

.subtitle {
    margin: 50px; 
}

con {
    /*text-align: center;*/
    /*border: 4px solid #82636b;*/
    /*border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;*/
    margin-left: 900px;
    /*background-color: olivedrab;*/
    /*float: left;*/
}

.nav-sidebar{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 75%;
}