/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 11, 2016, 1:44:57 PM
    Author     : Masanari
*/
body{
    background-color: background;
}
.title {
    margin: 30px;
}

.subtitle {
    margin: 50px; 
}

.content {
    text-align: center;
    border: 4px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    padding: 2em;
    width: 1000px;
    background-color: olivedrab;
}

