/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2017, 6:48:44 PM
    Author     : Masanari
*/
body {
    overflow-x: hidden;

}
.parent-baby {
    -moz-background-size: cover;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 20px;
    left: 0%;
    width: 100%;
    /*height: 60%;*/
    max-width: 2500px;
    height: 100%;
    min-height: 1000px;
    /*background-position: center center !important;*/
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*overflow-y: hidden;*/

}

.logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.to-main {
    border: 0px;
    background: transparent;   
    margin: 30px;
    float: left;
    font-size: 20px;
}

.edit-change {
    margin-left: auto;
    border: 0px;
    /*border-color: whitesmoke;*/
    background: transparent;
    margin-left: 1200px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    box-shadow: 0px;
    position: absolute;
}


.header {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 50px;
}

.header1 {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 100px;
}


.sub-header {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 25px;
    padding-left: 50px;
    margin-top: 50px;
    /*text-align: center;*/
    margin-left: auto;
}

.sub-header1 {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 25px;
    padding-left: 70px;
    /*margin-top: 50px;*/
    /*text-align: center;*/
    margin-left: auto;
}
.to-find {
    margin-top: 130px;
    position: absolute;
    /*text-align: center;*/
    left: 46%;
    right: 54%;
    font-weight: bold;
    cursor: pointer;
    background: white;
    color: black;
    border-color: black;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}