/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 6:30:28 PM
    Author     : Masanari
*/

/*.line {
    margin-top: 40px;
    border-top: 2px solid #dce0e0;
}*/


.service {
    border: 0px;
    background: transparent;
    margin-left: auto;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 50px;
    font-size: 16px;

}
.payment {
    border: 0px;
    background: transparent;
    margin-left: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    padding-right: 30px;
    font-size: 16px;


}
.inquery {
    border: 0px;
    background: transparent;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;

}

.safety {
    border: 0px;
    background: transparent;
    margin-left: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    /*padding-left:*/ 
    font-size: 16px;
}

