/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2016, 2:48:22 PM
    Author     : Masanari
*/

html {
    /*background: whitesmoke;*/
}

body {
    position: relative;
    min-height: 100%;
    background: #f5f5f5 !important;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
}
.kaguya-detail-container {
    /*    background: white;
        padding-left: 100px;
        padding-right: 100px;
        display: block;*/
    background: #fff;
    padding: 4px 16px 55px 16px;
    margin: 16px 0 0;
    overflow: hidden;
}

.kaguya-detail-table {
    /*float: left;*/
    max-width: 500px;
    height: 300px;
    position: relative;
    border-collapse: collapse;
    border: 2px solid #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

.kaguya-message-table {
    max-width: 500px;
    height: 175px;
    /*position: relative;*/
    border-collapse: collapse;
    border: 2px solid #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    /*margin-top: 30px;*/
}

.img-detail {
    border: 0;
    /*position: relative;*/
    margin-right: auto;
    /*padding-left: 5px;*/
    margin-left: auto;
    /*float: left;*/
    width: 600px;
    /*margin-top: 20px;*/
    display: inline-block;
    padding-bottom: 20px;
}
.imgRoom-detail {
    border: 0;
    /*position: relative;*/
    margin-right: auto;
    padding-left: 5px;
    /*float: left;*/
    margin-left: auto;
    width: 600px;
    display: inline-block;
    padding-top: 0px;

}
.kaguya-link {
    /*position: absolute;*/
    margin-right: auto;
    margin-bottom: auto;
    color: green;
    font-size: 20px;
    /*float: left;*/
    padding-top: 30px;
}

.kaguya-detail {
    font-size: 24px;
    color: green;

}
body {
    background: whitesmoke;
}

html {
    background: whitesmoke !important;

}

th {
    text-align: center !important;
}

a {
    /*font-size: 20px;*/
}