/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2016, 7:55:17 AM
    Author     : Masanari
*/

body {
    background: white;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    /*overflow-y: hidden;*/
}

.logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.ui-widget {
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

}


.ui-widget-content a {
    color: green; 
}
.ui-datatable tbody :hover {
    /*background: yellow;*/
    border: none;
}
.ui-datatable-odd {
    background: none repeat scroll 0 0 #e1f2e1;
}
.ui-datatable-even {
    background: none repeat scroll 0 0 #f2faf2;

}
/*
.ui-datatable-odd tr :hover{
    background: none repeat scroll 0 0 green;
}
.ui-datatable-even tr:hover{
    background: none repeat scroll 0 0 #f2faf2;

}*/

.ui-widget-content {
    border: 0px solid #a8a8a8; 
    /* color: #4f4f4f; */
}
.ui-widget-header {
    /* border: 1px solid #a8a8a8; */
    background: greenyellow url(/Kaguya/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo) 50% 50% repeat-x;
    background: greenyellow linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    /* background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))); */
    background: green -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    color: #333;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}

.ui-datatable table {
    table-layout: auto;
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 0px solid #ddd; 
    font-size: 20px;
    background: white;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px 10px; 
    overflow: hidden;
    border-width: 1px;
    border-style: none; 
}


.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th :hover td{
    /*cursor: pointer;*/
    /*background: green;*/
}


.find-bottom-links {
    position: relative;
    /*bottom: 10%;*/
    margin-top: auto;
    margin-bottom: 50px;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:  #f2faf2 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)))!important;

}

p:hover {
    color: green;
}
/*.column :hover{
    cursor: pointer;
    background: #a0fab5;

}*/

table-hover:hover{background-color:#f5f5f5;
}

.ui-paginator.ui-paginator-top {
    border-bottom: 0px none;
    color: yellow;
    background: green;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: center;
    color: yellow;
    padding: 4px 10px;
    background: green;
}
.ui-paginator.ui-paginator-bottom {
    border-bottom: 0px none;
    color: yellow;
    background: green;
}

img {
    width: 100px;

}

.table {
    width: 50%;
    max-width: 100%;
    margin-bottom: 100px;
    position: relative;
    margin-left: 25%;
    margin-right: auto;
    text-align: center;
}
/*.couple-table tr :hover{
    background: #a0fab5;
    cursor: pointer;

}
.couple-table td :hover{
    background: #a0fab5;
    cursor: pointer;

}*/

.search-box {
    /*margin: auto;*/
    width: 200px;
    height: 50px;
    background: white;
    font-size: 20px;
    font: BlinkMacSystemFont;
    font-weight: bold;
    /*float: left;*/
    margin-top: 30px;
    margin-left: 650px;
    position: absolute;

}


.search-button {
    font: BlinkMacSystemFont;
    background: green;
    color: white;
    border-color: green;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 20px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    border-width: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-bottom: 1px;
    margin-left: 850px;
}
.edit-underline {
    text-decoration:none;
    border-bottom: 1px solid #e1f2e1;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin-right: auto;

}

.edit-underline2 {
    text-decoration:none;
    border-bottom: 2px solid green;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    display: block;

}
.description-kaguya-parent-index {
    padding-top: 30px;
    /*    padding-left: 200px;
        padding-right: 100px;*/
    display: block-inline;
    background: url('../bamboo.jpg');
    /*display: block;*/
    width: 40%;
    max-width: 70%;
    /*margin-left: 25%;*/
    background: white;
    margin-top: 0px;
    line-height: 35px;
    font-size: 20px;
    /*float: left;*/
    /*position: absolute;*/
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
}



.index-parent-couple-info {
    width: 250px;
    float: left;

}


.index-parent-couple-info2 {
    /*display: inline;*/
    /*margin-left: 200px;*/
}

.edit-underline3 {
    margin-right: auto;
    margin-left: auto;
    /*position: absolute;*/
    text-decoration:none;
    border-top: 2px solid green;
    border-bottom: 1px solid #e1f2e1;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;

}


.ui-state-default column-couple

.ui-state-default, .ui-state-default  {
    /*background: green;*/
}


.ui-state-default {
    -moz-box-shadow: inset 0px 1px 0px green;
    /* -webkit-box-shadow: inset 0px 1px 0px #fff; */
    box-shadow: inset 0px 0px 0px #fff; 
}




.description-kaguya {
    padding-top: 30px;
    /*    padding-left: 200px;
        padding-right: 100px;*/
    display: block-inline;
    background: url('../bamboo.jpg');
    /*display: block;*/
    width: 40%;
    /*margin-left: 25%;*/
    background: white;
    margin-top: 0px;
    line-height: 35px;
    font-size: 20px;
    float: left;
    /*position: absolute;*/
    margin-right: auto;
    margin-left: auto;
}


.img-edit {
    max-width: 250px;
    max-height: 250px;
    width: 80%;
    height: 80%;
    /*float: left;*/
    position: absolute;
    padding-left: 100px;
    padding-top: 70px;
}

.img-edit2 {
    padding-top: 370px;
    max-width: 250px;
    max-height: 250px;
    width: 80%;
    height: 80%;
    /*float: left;*/
    position: absolute;
    padding-left: 100px;
    padding-bottom: 40px;
    position: absolute;

}


.button, html input[type="button"], input[type="reset"], input[type="submit"] {
    margin-bottom: 50px;
}


.info-table {
    margin-top: 50px;
}


.ukeiresaki {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 900;

}