/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2016, 5:18:09 PM
    Author     : Masanari
*/

/*
.title {
    width: 930px;
    margin: 40px;
    margin-top: 0px;

}*/

body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/*table, td, th, tr, tbody { border: 1px whitesmoke solid; }*/
li {

    list-style: none;
    color: red;
    font-size: 20px;
}
.husbandmessage {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;


}
.wifemessage {
    margin-bottom: 0pt;
    font-weight: bold;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;

}
.husbandheadrow {
    width: 249px;
    height: 79px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    font-size: 19px;
    font-weight: bold;
    background: lightblue;
    text-align: center;

}
.husbandheadrow2 {
    list-style: none;
    width: 649px;
    height: 79px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}
.husband {
    width: 900px;

}
.wifeheadrow {
    width: 249px;
    height: 80px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    font-size: 19px;
    font-weight: bold;
    background: mistyrose;
    text-align: center;

}
.wifeheadrow2 {
    width: 649px;
    height: 80px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
}
.wife {
    width: 900px;
}
.headrow {
    width: 249px;
    height: 80px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    font-size: 19px;
    font-weight: bold;
    background: palegreen;
    text-align: center;

    /*    住所*/
}
.headrow2 {
    width: 649px;
    height: 50px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    /*    住所*/
}

.headrow-parent {
    width: 500px;
    height: 50px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    /*    住所*/
}

.Button {
    font-size: 15px;
    /*position: absolute;*/
    /*left: 700px;*/
    /*margin: 50px;*/
    margin: auto;
    margin-top: 100px;
}

.parent-table {
    width: 700px;
}

.latter {
    margin-top: 0px;
    margin-right: 5px;
    width: 900px;
    /*    住所のテーブル名*/
}
.onlyTokyo {
    margin-top: 30px;
    font-weight: bold;

}

.text-parent {
    height: 38px;
    width: 200px;
}

.text {
    height: 48px;
    font-size: 25px;
}

.text1 {
    height: 48px;
    width: 400px;
}

.text2 {
    height: 48px;
    width: 250px;
}
.text3 {
    height: 48px;
    width: 40px;
}
.parentmessage {
    margin-bottom: 0pt;
    font-weight: bold;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;

}
.parentheadrow {
    width: 150px;
    height: 79px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    font-size: 19px;
    font-weight: bold;
    background: yellow;
    text-align: center;
}
.parentheadrow2 {
    width: 500px;
    height: 79px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}
.parent {
    width: 900px;

}
/*.button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 150px;
}*/

.couple-info {
    margin: auto;
    margin-top: 50px;
    border: 1px solid green;
    width: 400px;
    /*position: absolute;*/
}

.couple-info td {
    width: 72%;
    padding: 8px;
}

.couple-info th{
    width: 28%;
    padding: 8px;
    font-size: 17px;
}

/*.gallery {
    max-width: 500px;
    height: auto;
}*/

.gallery img {
    position: absolute;
    left: 160px;
    top: 300px;
    margin: 300px;
    width: 600px;
    margin-top: 20px;

}
table {
    width: 900px;
}

p.line {
    margin-top: 0px;
}

.require {
    background: #ea352d;
    color: white;

    border-radius: 2px;
    font-size: 12px;
    padding: 2px 4px;
}


.inputText {
    font-size: 15px;
}

.background {
    display: inline;
    background-color: #1b6d85;
    font-size: 15px;
    line-height: 30px;
    padding-left: 200px;
    width:50%;
    position: relative;
}

.description-kaguya {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    display: block-inline;
    background: url('../bamboo.jpg');
    /*display: block;*/
    width: 40%;
    margin-left: 25%;
    background: white;
    margin-top: 50px;
    line-height: 35px;
    font-size: 20px;
}

.ui-widget-content {
    border: 0px solid #a8a8a8; 
    color: #4f4f4f;
}

html {
    background: white !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


.edit-button {
    /*font: BlinkMacSystemFont;*/
    background: green;
    color: white;
    border-color: green;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 20px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    border-width: 0px;
    margin-bottom: 100px;
    margin-top: 50px;
    border-bottom: 1px;
}
.edit-button:hover {
    font: BlinkMacSystemFont;

    background: #59a359;
    color: white;
    border-color: #59a359;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 20px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    border-width: 0px;

}


.select-menu-year {
    border: 5px solid transparent;

    width: 100px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: transparent;
    /*background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);*/
    background: url(arrow01.png) right 50% no-repeat;
    background-size: 20px, 100%;
    border-radius: 2px;
    font: 18px BlinkMacSystemFont;
    cursor: pointer;
    height: 47px !important;

    /*    position: relative;
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 200px;
        padding: 0.5em 1em;
        color: #f69;
        border: none;
        border-radius: 5px;
        background: transparent;*/

}

.select-menu-month {
    width: 70px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: transparent;
    /*background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);*/
    /*background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);*/
    background-size: 20px, 100%;
    margin-left: 5px;
    margin-right: 5px;
    /*height: 30px !important;*/
    border-radius: 2px;
    font: 18px BlinkMacSystemFont;
    cursor: pointer;

}

.select-menu-day {
    content: '\25bc';
    width: 70px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: transparent;
    /*background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);*/
    /*background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);*/
    background-size: 20px, 100%;
    border-radius: 2px;
    font: 18px BlinkMacSystemFont;
    height: 47px !important;
    cursor: pointer;

}
.table {
    color: whitesmoke;
}

label:before {
    content: '\25bc';
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    margin: -2px 0 0 0;
    border: 5px solid transparent;
    border-top: 7px solid #f69;
}
label {
    position: relative;
    display: block;
    width: 200px;
    border: 1px solid #f69;
    border-radius: 5px;
    content: '\25bc';
    background: #fff;
}

.new-link {
    /*float: right;*/
    margin-left: auto;
    width: 200px;
}
.new-link1 {
    float: right;
    margin-left: auto;
    width: 200px;
    margin-right: 200px;

}
.new-link2 {
    float: right;
    margin-left: auto;
    width: 200px;
    margin-right: 400px;
}




.line {
    border-top: 1px solid #dce0e0;
}

