/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2016, 4:52:50 PM
    Author     : Masanari
*/

body {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    background: #e1f2e1;
}

.line {
    border-top: 2px solid #dce0e0;
}

.title {
    font-weight: bold;
    font-size: 55px;
}

.sub-title {
    font-size: 25px;
}
.bamboo-komorebi {
    width: 100%;
    height: 50%;
}

.gallery {
    -moz-background-size: cover;

    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.button-1 {
    background: #00405f;
    color: white;
    font-size: 20px;
    border-color: #00405f;
    margin-left: 400px;

}

.button-2 {
    background: #00405f;
    color: white;
    font-size: 20px;
    border-color: #00405f;
    margin-left: 1000px;
}

.couple-main {
    width: 300px;
    height: 250px;
    float: left;
    margin-top: 30px;
    margin-left: 430px;
    margin-right: auto;
    position: absolute;
}

.parent {
    width: 300px;
    height: 250px;
    margin-left: 950px;
    float: left;
    margin-top: 10px;
    position: absolute;
}

.parent-link {
    font-size: 25px;
    float: left;
    margin-top: 240px;
    position: absolute;
    /*padding-right: 100px;*/
    background-color: white;
    margin-left: 220px;
    border-color: transparent;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 40px;
    color: black;

}
.parent-link:hover {
    appearance: none;
    text-decoration: none!important;
    color: black;
}
.couple-link {
    margin-top: 240px;
    margin-right: auto;
    position: relative;
    float: left;
    margin-left: 430px;
    font-size: 25px;
    background-color: white;
    border-color: transparent;
    /*color: white;*/
    padding-left: 12px;
    padding-right: 13px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: black;

}
.couple-link:hover {
    appearance: none;
    text-decoration: none!important;
    color: black;
}
.to-register {
    margin-top: 30px;
    position: relative;
    text-align: center;
    top: 0;
    bottom: 0;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    color: black;
    border-color: black;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}