/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2016, 8:33:59 PM
    Author     : Masanari
*/

body {
    font-size: 14px;
    color: rgb(51, 51, 51);
    height: 100%;
    line-height: 1.42857;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    background: linear-gradient(rgb(255, 255, 255) 0px, #f2faf2 0px);
}

.description-kaguya {
    /*padding-top: 30px;*/
/*    padding-left: 100px;
    padding-right: 100px;*/
    display: block-inline;
    background: url('../bamboo.jpg');
    /*display: block;*/
    /*width: 100%;*/
    /*margin-left: 25%;*/
    background: white;
    /*margin-top: 50px;*/
    margin-right: auto;
    margin-left: auto;
    line-height: 35px;
    font-size: 20px;
    /*position: relative;*/
}