/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2016, 7:56:42 PM
    Author     : Masanari
*/

body {
    font-size: 14px;
    color: rgb(51, 51, 51);
    /*height: 100%;*/
    line-height: 1.42857;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    background: linear-gradient(rgb(255, 255, 255) 0px, #e1f2e1 0px);
    /*overflow-x: hidden;*/
}

html {
    background: #e1f2e1 !important;
}

.description-kaguya {
    /*padding-top: 30px;*/
/*    padding-left: 100px;
    padding-right: 100px;*/
    display: block-inline;
    background: url('../bamboo.jpg');
    /*display: block;*/
    /*width: 100%;*/
    /*margin-left: 25%;*/
    background: white;
    /*margin-top: 50px;*/
    margin-right: auto;
    margin-left: auto;
    line-height: 35px;
    font-size: 20px;
    /*position: relative;*/
    border-radius: 7px;
}


h2 {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}
/*
textarea {
    width: 500px;
    height: 400px;
}*/


.edit-button {
    /*font: BlinkMacSystemFont;*/
    background: green;
    color: white;
    border-color: green;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 20px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    border-width: 0px;
    margin-bottom: 100px;
    margin-top: 50px;
    border-bottom: 1px;
}
.edit-button:hover {
    font: BlinkMacSystemFont;

    background: #59a359;
    color: white;
    border-color: #59a359;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 20px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    border-width: 0px;

}
