/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2016, 7:56:42 PM
    Author     : Masanari
*/

body {
    font-size: 14px;
    color: rgb(51, 51, 51);
    height: 100%;
    line-height: 1.42857;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    background: linear-gradient(rgb(255, 255, 255) 0px, #f2faf2 0px);
}

.description-kaguya {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    display: block-inline;
    background: url('../bamboo.jpg');
    /*display: block;*/
    width: 40%;
    margin-left: 25%;
    background: white;
    margin-top: 50px;
    line-height: 35px;
    font-size: 20px;
}

.to-main {
    border: 0px;
    background: transparent;   
    margin: 30px;
    float: left;
    font-size: 20px;
}

.edit-change {
    margin-left: auto;
    border: 0px;
    /*border-color: whitesmoke;*/
    background: transparent;
    margin-left: 1200px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    box-shadow: 0px;
    position: absolute;
}


h2 {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

textarea {
    width: 500px;
    height: 400px;
}

input {
    width: 300px;
    
}

